body {
    background-color: #0500FF;
}

.button {
    height: 50px;
    font-size: 20px;
    display: inline-block;
    width: auto;
    margin-left: 180px;
    background: #ff8900;
    border-radius: 20px;
}


